{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}

{% block body %}


<div class="container">
    <div class="p-4 p-md-5 mb-4 mt-5 text-white text-center rounded bg-dark">
        <div class="">
            <h1 class="display-4">Mon Panier</h1>
        </div>
    </div>
    {% if dpanier |length > 0 %}
    <table class="table">
        <thead>
        <tr>
            <th>Menu</th>
            <th>Composition</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th></th>
        </tr>
        </thead>
        <tbody>

        {% for data in dpanier %}
            <tr>
                <td>{{ data.produit.menu.nom }}</td>
                <td>{{ data.produit.compo }}</td>
                <td class="text-center">
                    <a href="{{ path("cart_minus", {id: data.produit.id }) }}">
                        <i class="fa-solid fa-circle-minus"></i>
                    </a>
                    {{ data.quantite }}
                    <a href="{{ path("cart_add", {id: data.produit.id }) }}">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </td>
                <td class="text-center">{{ data.produit.menu.prix }} €</td>
                <td><a href="{{ path('cart_supp', {id : data.produit.id}) }}"><button class="btn-danger"><i class="fa-solid fa-trash"></i></button></a></td>

            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">Total</td>
            <td class="text-end"> {{ total }} €</td>
            <td><a href="{{ path('adress') }}"><button class="btn-danger">Commander</button> </a> </td>
        </tr>
        </tfoot>
    </table>

    {% else  %}
        <p> Oups ! Votre panier est vide !</p>
    {% endif  %}
</div>



{% endblock %}
